main {
  display: flex;
}

.main-content {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.welcome {
  flex: 1;
  color: #daa520;
}

#active-raffles-list {
  list-style-type: none;
}

.raffle-list {
  flex: 1;
  overflow-y: auto;
  max-height: 70vh;
}

.raffle-list li {
  padding: 15px;
  margin: 10px;
  background-color: #04010a;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.raffle-list li:hover {
  background-color: #090960;
  cursor: pointer;
}

.raffle-list::-webkit-scrollbar {
  width: 10px;
}

.raffle-list::-webkit-scrollbar-track {
  background: #04010a;
  border-radius: 5px;
}

.raffle-list::-webkit-scrollbar-thumb {
  background: #daa520;
  border-radius: 5px;
}

.raffle-list::-webkit-scrollbar-thumb:hover {
  background: #ffd700;
}
