main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.left-column,
.right-column {
    width: calc(50% - 10px); /* Adjust width as needed */
}

#user-info {
    text-align: center;
}

#prizes-section {
    margin-top: 20px;
}

#prize-list {
    list-style-type: none;
    padding: 0;
}

#prize-list li {
    background-color: #04010a;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#prize-list li:last-child {
    margin-bottom: 0;
}

#active-raffles-sections {
    display: flex;
    flex-direction: column;
}

.active-raffles-column {
    margin-top: 20px;
}

.active-raffles-column h2 {
    text-align: center;
}

.active-raffles-column ul {
    list-style-type: none;
    padding: 0;
}

.active-raffles-column ul li {
    background-color: #04010a;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.active-raffles-column ul li:last-child {
    margin-bottom: 0;
}
