main {
    display: flex;
    justify-content: space-between;
}

.left-column,
.right-column {
    width: calc(50% - 10px);
}

#user-info {
    text-align: center;
}

#prizes-section {
    margin-top: 20px;
}

#prize-list {
    list-style-type: none;
    padding: 0;
}

#prize-list li {
    background-color: #04010a;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#prize-list li:last-child {
    margin-bottom: 0;
}

.right-column {
    width: calc(50% - 10px);
    overflow-y: auto;
    max-height: calc(100vh - 200px);
    padding-right: 10px;
}

.right-column::-webkit-scrollbar {
    width: 10px;
}

.right-column::-webkit-scrollbar-track {
    background: #04010a;
    padding-right: 10px;
    border-radius: 5px;
}

.right-column::-webkit-scrollbar-thumb {
    background: #daa520;
    border-radius: 5px;
}

.right-column::-webkit-scrollbar-thumb:hover {
    background: #ffd700;
}

#active-raffles-sections {
    display: flex;
    flex-direction: column;
}

.active-raffles-column {
    margin-top: 20px;
}

.active-raffles-column h2 {
    text-align: center;
}

.active-raffles-column ul {
    list-style-type: none;
    padding: 0;
}

.active-raffles-column ul li {
    padding: 15px;
    margin: 10px;
    background-color: #04010a;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.active-raffles-column ul li:hover {
    background-color: #090960;
    cursor: pointer;
}
.active-raffles-column ul li:last-child {
    margin-bottom: 0;
}
