form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

label {
  margin-top: 10px;
  color: #daa520;
}

input {
  padding: 0.5em;
  margin: 5px 0 15px 0;
  border: 1px solid #daa520;
  border-radius: 5px;
  background-color: #04010a;
  color: #daa520;
}